.sponsored-product .wbproduct-container.card-wrapper {
    height: unset;
}
.sponsored-product.mini-container.page-width {
    max-width: 160rem;
}
.sponsored-product .new_product_badge {
    left: 10px;
    right: auto;
    top: 10px;
}
.sponsored-product .wbproduct-container .add-to-cart__submit {
    min-height: calc(38px + var(--buttons-border-width) * 2);
    padding: 8px 12px;
    width: max-content;
    font-size: calc(var(--font-body-scale) * 14px);
    gap: 3px;
}
.sponsored-product .card:not(.ratio){
    flex-direction: row;
    column-gap: 15px;
    height: auto;
}
.sponsored-product .card.card--card{
    padding: 15px 0;
}
.sponsored-product .card{
    align-items: center;
}
.sponsored-product .card--card.card:not(.ratio){
    column-gap: 0;
    padding-left: 15px;
    margin-bottom: 8px;
}
.sponsored-product .product__col_wrapper {
    row-gap: var(--grid-desktop-vertical-spacing);
    list-style: none;
    display: flex;
    flex-direction: column;
}
.sponsored-product .card__information .price--on-sale .price__sale {
    justify-content: left;
}
.sponsored-product .card.no_img .wbimgblock,
.sponsored-product .card.no_img .wbproductdes.card__content {
    width: 100%;
}
.sponsored-product .card.no_img {
    justify-content: start;
}
.background-secondary .section-content-bg{
    padding: 30px;
    border-radius: var(--bg-radius);
}
.background-secondary .collection--full-width .section-content-bg {
    border-radius: 0;
}
.sponsored-product .card__inner {
    width: 33%;
}
.sponsored-product .card__content.wbproductdes {
    width: 67%;
    padding: 5px 10px 10px;
    border-top: none; 
}
.sponsored-product .description span{
    color: rgba(var(--color-foreground),.8);
}
.sponsored-product .card__information,
.sponsored-product .card-information{
    text-align: left;
}
.section-time {
    display: inline-flex;
    align-items: center;
    text-align: center;
    gap: 30px;
    justify-content: center;
}
.section-time .time {
    position: relative;
    background: rgba(var(--color-foreground));
    color: rgba(var(--color-background));
    border-radius: calc(var(--bg-radius) / 2);
    padding: 8px 0;
}
.section-time .time::after {
    content: ':';
    position: absolute;
    right: -17px;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: rgba(var(--color-foreground));
}
.section-time .time:last-child::after {
    display: none;
}
.section-time span.count {
    font-size: calc(var(--font-body-scale) * 26px);
    line-height: calc(1 + 0.2 / var(--font-body-scale));
    margin: 0;
    min-width: 72px;
    font-weight: var(--font-heading-weight);
}
.section-time span {
    display: block;
    font-size: calc(var(--font-body-scale) * 16px);
    line-height: normal;
}
@media (min-width: 1199px) {
    .sponsored-product .date_content {
        max-width: 430px;
        width: 100%;
    }
    .sponsored-product .wb_button_combo {
        max-width: 240px;
        width: 100%;
        justify-content: end;
    }
}
@media (min-width: 1299px) {
    .sponsored-product .date_content {
        max-width: 440px;
        width: 100%;
    }
    .sponsored-product .wb_button_combo {
        max-width: 280px;
        width: 100%;
        justify-content: end;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .sponsored-product .card:not(.ratio){
        column-gap: 8px;
    }
    .sponsored-product .card--standard .card__content.wbproductdes{
        padding: 5px 0 10px;
    }
    .sponsored-product .date_content {
        max-width: 380px;
        width: 100%;
    }
    .sponsored-product .wb_button_combo {
        max-width: 200px;
        width: 100%;
        justify-content: end;
    }
}
@media (min-width: 992px) and (max-width: 1200px){
  .collection.sponsored-product .grid--4-col-desktop .grid__item {
    width: calc(33.33% - var(--grid-desktop-horizontal-spacing)* 4 / 5);
    max-width: calc(33.33% - var(--grid-desktop-horizontal-spacing)* 4 / 5);
  }
}
@media (max-width: 1199px) {
    .section-time span.count {
        font-size: calc(var(--font-body-scale) * 24px);
        min-width: 68px;
    }
    .section-time span {
        font-size: calc(var(--font-body-scale) * 14px);
    }
    .sponsored-product .new_product_badge{
        padding: 3px 5px 2px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .sponsored-product .grid--3-col-tablet .grid__item {
        max-width: calc(50% - var(--grid-desktop-horizontal-spacing) * 1 / 2);
        width: calc(50% - var(--grid-mobile-horizontal-spacing) * 1 / 2);
    }
    .background-secondary .section-content-bg {
        padding: 20px;
    }
    .sponsored-product .heading-top .heading {
        max-width: 250px;
        width: 100%;
    }
} 
@media (max-width: 767px) {
    .sponsored-product .product__col_wrapper {
        row-gap: 8px;
    }
    .sponsored-product .card--card.card:not(.ratio) {
        padding-left: 15px;
    }
    .sponsored-product .card {
        padding: 5px 0;
    }
    .section-time {
        gap: 20px;
    }
    .section-time .time:after {
        right: -13px;
    }
    .section-time span.count {
        font-size: calc(var(--font-body-scale) * 22px);
        min-width: 64px;
    }
    .section-time span {
        font-size: calc(var(--font-body-scale) * 12px);
    }
    .background-secondary .section-content-bg {
        padding: 15px;
    }
    .sponsored-product .wbproduct-container .add-to-cart__submit svg{
        display: block;
    }
    .wbproduct-container.product-card-wrapper .add-to-cart__submit {
        min-height: 38px;
        min-width: 38px;
    }
}
@media (max-width: 575px) {
    .section-time {
        gap: 10px;
        flex-wrap: wrap;
    }
    .section-time .time:after {
        right: -8px;
    }
    .section-time span.count {
        font-size: calc(var(--font-body-scale) * 18px);
        min-width: 56px;
    }
}